.footer {
   background: $Darkgrey;
   .contain {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media all and (max-width: 40rem) {
         grid-template-columns: 1fr;
         grid-template-rows: 5rem 1fr;
         padding-top: 1rem;
         padding-bottom: 3rem;

         &::after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 10%;
            left: 11%;
            height: 2px;
            width: 80%;
            background: linear-gradient(to right, rgba(237, 242, 244, 0.6), rgba(237, 242, 244, 0.2));
         }
      }
   }
   a {
      color: $Lightgrey;
   }

   &__icons {
      justify-self: center;
      align-self: center;

      a {
         padding: 1rem;
         font-size: 1.7rem;

         @media all and (max-width: 40rem) {
            font-size: 1.5rem;
         }
         &:hover{
            @if (font-size: 1.5rem)
            {
               font-size: 1.6rem;
            }
            @if (font-size: 1.7rem)
            {
               font-size: 1.8rem;
            }
         }

      }
      .fb {
         transition: all 150ms ease-in-out;
         &:hover {
            background: linear-gradient(to right, rgba(24, 119, 242, 1) 50%, lighten(rgb(24, 119, 242), 30%));
            background-clip: text;
            color: transparent;
         }
      }
      .insta {
         transition: all 150ms ease-in-out;
         &:hover {
            background: linear-gradient(to right, rgba(228, 64, 95, 1) 42%, yellow);
            background-clip: text;
            color: transparent;

         }
      }
      .mail {
         transition: all 150ms ease-in-out;
         &:hover {
            background: linear-gradient(to right, lighten(rgb(187, 0, 27), 10%), lighten(rgb(234, 67, 53), 20%));
            background-clip: text;
            color: transparent;
         }
      }
   }

   &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;

      a {
         padding: 0.5rem;
         font-size: 1.3rem;
         scale: 1;
         transition: all 100ms ease-in-out;
         &:hover{
            background: linear-gradient(to right,$Mediumgrey, $Lightgrey);
            background-clip: text;
            color: transparent;
            scale: 1.07;
         }
      }
      @media all and (max-width: 40rem) {
         padding: 0;
      }
   }
   &__button {
      align-self: center;
      justify-self: center;
   }

   &__copyright {
      display: inline-block;
      position: relative;
      color: $Mediumgrey;
      bottom: 14px;
      right: -91%;
      font-size: $font-sm;

      @media all and (max-width: 40rem) {
         right: -85%;
         bottom: 11px;
      }
   }
}
