.header {
    position: relative;

    &::before{
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: 
    linear-gradient(
        to right , rgba(141, 153, 174 , 0.6), rgba(141, 153, 174,0.1)
    ),
    url(../images/mock1.jpg);
    background-size: cover;
    background-position: left 65%;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.45;
   }


    &__logo {
        background-image: url(../images/ncertteardown_logo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        height: 4.5rem;
        width: 5rem;
        margin-left: 1rem;
        // border: 2px solid grey;
        @media all and (max-width: 640px) {
            height: 3.4rem;
            width: 4rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        // border: solid 2px black;
        width: 50%;
        height: 5rem;

        a {
            color: $Darkgrey;
            font-size: $font-lg;
            margin-bottom: 1.5rem;

            &::after {
                content: "";
                position: relative;
                // top: 0.6rem;
                bottom: -23px;
                display: block;
                height: 5px;
                width: 100%;
                border-radius: 5px;
                background: linear-gradient(
                    to right,
                    lighten(rgba(128, 128, 128, 0.847), 10%),
                    rgba(114, 113, 113, 0.835)
                );
                opacity: 0;
                transition: all 300ms ease-in-out;
            }

            &:hover {
                color: darken(grey, 15%);
                &::after {
                    opacity: 0.8;
                }
            }
        }
    }

    &__menu {
        z-index: 1;
        opacity: 1;
        background:lighten($Darkgrey,5%);
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 100ms ease-in-out;

        a {
            color: $Lightgrey;
            padding: 1.5rem;
            transition: all 300ms ease-in-out;
            &:last-child {
                margin-bottom: 5rem;
            }

            &:hover {
                color: white;
                border: 2px solid white;
            }
        }
        &.open {
        
            
        }
    }
}

//hamburger menu
.hamburger {
    z-index: 2;
    position: absolute;
    top: 3%;
    right: 4%;

    > span {
        display: block;
        width: 26px;
        height: 3px;
        background: $Darkgrey;
        transition: all 300ms ease-in-out;
        transform-origin: 2px 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &.open {
        > span:first-child {
            transform: rotate(45deg);
            background: white;
        }
        > span:nth-child(2) {
            opacity: 0;
        }
        > span:last-child {
            transform: rotate(-45deg);
            background: white;
        }
    }
}

//visibility

.hide-for-mobile {
    @media all and (max-width: 40rem) {
        display: none;
    }
}

.show-for-tablet {
    @media all and (min-width: 70rem) {
        display: none;
    }
}

.hide-for-desktop {
    @media all and (min-width: 40rem) {
        display: none;
    }
}
