.notes { 
    background-color: white;
    display: grid;
    grid-template-columns: 0.7fr 1.5fr;     //use minmax() later
    grid-template-rows: repeat(3 , auto);
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    color: $Darkgrey;
    padding: 5rem 0;
    margin: 0 auto;

    &__link{

        color: $Darkgrey;

         &::before{
            content: "";
            display: block;
            position: relative;
            bottom: 3px;
            left: -45%;
            background: url(/images/pdf.png);
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            width: 200%;
            height: 6rem;
            
        }
    }

    &__description{        
       display: flex;
       flex-direction: column;
       align-items: center;
       border-left: 2px solid $Darkgrey;

        h3{
            text-transform: capitalize;
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            padding: 1rem 0.5rem;
        }
        p{
            width: 70%;
            font-size: $font-sm;
            margin: 0;
            padding: 0.5rem 0.5rem;
            @media all and (max-width:40rem) {
                width: 75%;
            }
        }
    }

}
