//font sizes
$font-sm: 0.875rem;//14px
$font-med: 1.125rem;//18px
$font-lg: 1.25rem;
$font-xl: 3.25rem;


//colors

$Darkgrey : rgba(43, 45, 66, 1);
$Mediumgrey : rgba(141, 153, 174, 1);
$Lightgrey : rgba(237, 242, 244, 1);
$Lightred: rgba(239, 35, 60, 1);
$red : rgba(217, 4, 41, 1);